@import url(./fonts.css);

/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1130px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* SITE HEADER */

.site-header {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.site-header__line {
    width: 100%;
    height: 5px;
    background-color: #FF7500;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 12px;
    transition: .5s;
}

.logo:hover {
    opacity: .8;
}

.logo:active {
    opacity: .6;
}

.logo-image {
    width: 38px;
    height: 59.184px;
}

.logo-name {
    color: #252420;
    font-family: RobotoCondensed;
    font-size: 32px;
    font-weight: 700;
}

.logo-name::after {
    content: "nashr";
    color: #FF7500;
    font-family: RobotoCondensed;
    font-size: 32px;
    font-weight: 700;
}

.nav {
    display: flex;
    column-gap: 32px;
    align-items: center;
}

.nav-link {
    color: #000;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .5s;
}

.nav-link:hover {
    color: #FF7500;
    opacity: .8;
}

.nav-link:active {
    opacity: .6;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #FF7500;
    transition: .5s;
}

.nav-link:hover::after {
    width: 100%;
}

.all-btn {
    display: inline-block;
    background-color: #FF7500;
    border-radius: 4px;
    padding: 12px 24px;
    color: #FFF;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.all-btn:hover {
    color: #FFF;
    opacity: .8;
}

.all-btn:active {
    opacity: .6;
}

/* SITE HEADER */

/* SITE HERO */

.site-hero {
    background-color: #252420;
}

.site-hero__title {
    max-width: 339px;
    width: 100%;
    color: #FFF;
    font-family: "RobotoCondensed";
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    /*48px*/
    letter-spacing: 0.5px;
}

.site-hero__title::before {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #FF7500;
    margin-bottom: 40px;
}

.site-hero__text {
    max-width: 387px;
    width: 100%;
    color: #FFF;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /*24px*/
    letter-spacing: 0.5px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.site-hero__image {
    max-width: 510px;
    width: 100%;
    height: 510px;
    border-radius: 8px;
    /* box-shadow: 24px 24px 0px 0px rgba(255, 117, 0, 0.60); */
}

.site-hero__book__image {
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

/* SITE HERO */

/* ABOUT SECTION */

.about {
    padding-top: 224px;
    padding-bottom: 223px;
}

.about-title {
    max-width: 435px;
    width: 100%;
    color: #000;
    font-family: "RobotoCondensed";
    font-size: 72px;
    font-weight: 700;
    line-height: 120%;
    /* 86.4px */
    letter-spacing: 0.5px;
    margin-bottom: 72px;
}

.about-title::before {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #FF7500;
    margin-bottom: 24px;
}

.about-content {
    display: flex;
    column-gap: 40px;
}

.about-card {
    max-width: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.about-card-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 117, 0, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-card__title {
    color: #000;
    font-family: "Roboto Condensed";
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    /* 28.8px */
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}

.about-card__text {
    max-width: 314px;
    width: 100%;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    letter-spacing: 0.5px;
}

/* ABOUT SECTION */